/* Cabeçalho fixo */
.div-conteiner {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.imagem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 5%;
}

.Logo {
  height: auto;
  max-height: 10vh;
  transition: transform 0.3s ease, filter 0.3s ease; /* Transição suave para transformações e filtro */
}

.Logo:hover {
  transform: scale(1.1); /* Aumenta a escala da logo ao passar o mouse */
  filter: brightness(1.1); /* Aumenta o brilho da logo ao passar o mouse */
}

.tags-conteudo {
  margin: 0px;
  padding: 0px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.menu {
  position: relative;
  margin: 0 15px; /* Espaço entre os itens do menu */
  text-decoration: none;
  display: flex; /* Utiliza flexbox para alinhar ícone e texto */
  align-items: center; /* Alinha verticalmente o ícone e o texto */
  font-family: "Montserrat", sans-serif;
  font-weight: 700; /* Montserrat Bold */
  font-size: 15px;
  color: #132144;
  gap: 10px;
}

/* Efeito de hover moderno */
.menu::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px; /* Altura da linha */
  background: #005bb3; /* Cor da linha */
  transform: scaleX(0);
  transition: transform 0.3s ease;
  position: absolute;
  left: 0;
  bottom: 5px; /* Distância da linha em relação ao texto */
}

.menu:hover::after {
  transform: scaleX(1);
}

/* Estilos para o dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border-radius: 5px;
  position: absolute;
  background-color: #f0f4f8;
  min-width: 205px;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.8);
  z-index: 1;
  display: none; /* Inicialmente oculto */
}

/* Mostrar dropdown ao passar o mouse */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Links dentro do dropdown */
.dropdown-content a {
  border-radius: 20px;
  padding: 12px 16px;
  text-decoration: none;
  display: flex; /* Utiliza flexbox para alinhar ícone e texto */
  align-items: center; /* Alinha verticalmente o ícone e o texto */
  position: relative; /* Para o efeito de hover */
  color: #132144;
}

/* Adiciona espaço entre ícone e texto no dropdown */
.dropdown-content a .fa {
  margin-right: 10px; /* Espaço entre ícone e texto */
}

/* Efeito hover nos links do dropdown */
.dropdown-content a::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px; /* Altura da linha */
  background: #005bb3; /* Cor da linha */
  transform: scaleX(0);
  transition: transform 0.3s ease;
  position: absolute;
  left: 0;
  bottom: 5px; /* Distância da linha em relação ao texto */
}

.dropdown-content a:hover::after {
  transform: scaleX(1);
}

.botao-config {
  padding-left: 25px;
  padding-right: -25px;
  display: flex;
  align-items: center;
}

/* Parte do projeto onde faz a onda no cabeçalho */
.wave-bar {
  width: 100%;
  height: 2vh;
  background: linear-gradient(70deg, #7debff, #1495ff, #c300ff);
  animation: wave 3s linear infinite;
  background-size: 200% 100%;
}

@keyframes wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
