/* Estilos para a tela de cadastro */
.cc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 30px;
}

.cc-content {
  background-color: #ffffff;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  width: 100%;
  overflow: hidden;
}

.cc-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cc-image img {
  max-width: 100%;
  height: 100%;
  object-fit: 100% 100%;
  border-radius: 10px 0 0 10px;
}

.cc-form {
  flex: 1;
  padding: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cc-title {
  font-size: 30px;
  margin: 0 0 5px;
  text-align: center;
}

.cc-subtitle {
  font-size: 15px;
  text-align: center;
}

.cc-section-title {
  font-size: 20px;
  text-align: center;
}

.cc-form-group {
  display: flex;
  flex-direction: column;
}

.cc-input {
  border-radius: 5px;
  border: 1px solid #005bb3;
  margin-bottom: 15px;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

.cc-input:focus {
  outline: none;
  border-color: #003a6b;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.cc-terms {
  margin-bottom: 20px;
}

.cc-checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
}

.cc-checkbox {
  margin-right: 10px;
}

.cc-buttons {
  display: flex;
  flex-direction: column;
}

.cc-google-btn,
.cc-submit-btn {
  border: none;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

.cc-google-btn {
  background-color: #db4437;
  color: white;
}

.cc-submit-btn {
  background-color: #005bb3;
  color: white;
}
