
/* Define a altura total da tela e centraliza o conteúdo */
.tela_cad {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f0f4f8;
  min-height: 1vh; /* Garante que a altura mínima seja a altura da tela */
  overflow: hidden; /* Remove a rolagem da tela principal */
}

/* Contêiner principal */
.conteiner {
  display: flex;
  flex-direction: row; /* Alinha a imagem e o formulário horizontalmente */
  max-width: 1200px; /* Limita a largura máxima do contêiner */
  width: 100%;
}

/* Contêiner da imagem */
.imagem_cad {
  flex: 1; /* Permite que o contêiner da imagem ocupe uma parte do espaço */
  display: flex;
  justify-content: center; /* Centraliza a imagem horizontalmente dentro do contêiner */
  align-items: center; /* Centraliza a imagem verticalmente dentro do contêiner */
  background-color: #f0f4f8;
}

.img_ilus {
  width: 100%; /* Ajusta a imagem para ocupar a largura total do contêiner */
  max-width: 400px; /* Limita a largura máxima da imagem */
  height: auto; /* Mantém a proporção da imagem */
  object-fit: cover;
}

/* Cartão de cadastro */
.card_cad {
  flex: 2; /* Permite que o formulário ocupe o restante do espaço */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px; /* Limita a largura máxima do formulário */
}

/* Botão de voltar */
.botao-voltar {
  position: absolute;
  top: 10px;
  left: 10px;
  text-decoration: none;
  color: #007bff;
}

.icone-voltar {
  font-size: 1.5rem;
}

/* Texto de introdução */
.t1, .t2, .t3 {
  font-size: larger;
  text-align: center;
}

/* Inputs de cadastro */
.box_input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}

/* Estilização dos textos e checkboxes */
.text_bot_cand {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.accept_checkbox_cand {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Botão de cadastro */
.Button_Cad {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Button_Cad:hover {
  background-color: #0056b3;
}