.Container {
  display: flex;
  height: 100vh;
}

.ContentWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #f0f2f5;
}

.MainContent {
  flex: 1;
  padding: 20px;
}

.AreaBio,
.Section {
  margin-bottom: 20px;
}

.NomeCompleto{
  color: #184175;
  text-align: center;
}

.InfoContatos{
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);

}

.InfoContatosH2{
  color: #184175;
  text-align: center;
}

.AnexarCurriculo {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);

}

.AnexarCurriculo h2 {
  text-align: center;
  color: #184175;

}