.Container {
  display: flex;
  height: 100vh;
}

.ContentWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #f0f2f5;
}

.MainContent {
  flex: 1;
  padding: 20px;
}

.AreaBio, .Section {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.NomeCompleto {
  color: #1f4980;
  text-align: center;
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  align-self: center;
  font-weight: bold;
  text-transform: uppercase;
}

.FotoPerfil{
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
  text-align: center;
}

.InfoContatos {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);

}

/* Barra Email esta editando a largura do email dentro da informações de contato (div InfoConatos */
.BarraEmail{
  width: 250px;
}


.InfoContatosH2 {
  color: #184175;
  text-align: center;
}

.AnexarCurriculo {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);

}

.AnexarCurriculo h2 {
  text-align: center;
  color: #184175;

}

.UltimoEmprego {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);

}

.UltimoEmpregoH2 {
  color: #184175;
  text-align: center;
}

.Educação {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
}

.EducaçãoH2 {
  color: #184175;
  text-align: center;
}

.Habilidades {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);

}

.HabilidadesH2 {
  color: #184175;
  text-align: center;
}


.Certificações {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
}

.CertificaçãoH2 {
  color: #184175;
  text-align: center;
}


.Cursos {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
}

.CursosH2 {
  color: #184175;
  text-align: center;
}

.ÁreasInteresse {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
}

.InteressesH2 {
  color: #184175;
  text-align: center;
}

.RedesSocias{
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);

}

.RedesSociaisH2{
  color: #184175;
  text-align: center;
}
