/*--------------------------------------------------------------------*/

/* Telas pequenas */
@media (max-width: 768px) {
  .imagem {
    flex-direction: column;
    align-items: flex-start;
  }

  .infos-cab {
    flex-direction: column;
    align-items: center;
  }

  .infos-cab li {
    margin: 10px 0;
  }

  .Logo {
    height: 50px;
  }

  .Logo-cadastro {
    width: 100px;
    top: 10px;
    right: 10px;
  }

  .Titulo-Cadastro {
    margin-top: 80px;
  }

  .Botao-Cadastro {
    width: 150px;
    height: 150px;
  }

  .Candidato,
  .Empresas {
    font-size: 18px;
  }
}

/* Telas médias */
@media (min-width: 769px) and (max-width: 1024px) {
  .imagem {
    padding: 15px 20px;
  }

  .infos-cab li {
    margin: 0 20px;
  }

  .Logo {
    height: 60px;
  }

  .icone-empresa {
    width: 100px;
    height: 100px;
  }

  .Titulo-Cadastro {
    margin-top: 90px;
  }

  .Botao-Cadastro {
    width: 175px;
    height: 175px;
  }

  .Candidato,
  .Empresas {
    font-size: 20px;
  }
}

/* Telas grandes */
@media (min-width: 1025px) and (max-width: 1440px) {
  .imagem {
    padding: 20px 30px;
  }

  .infos-cab li {
    margin: 0 30px;
  }

  .Logo {
    height: 65px;
  }

  .Logo-cadastro {
    width: 140px;
    top: 18px;
    right: 18px;
  }

  .Titulo-Cadastro {
    margin-top: 95px;
  }

  .Botao-Cadastro {
    width: 190px;
    height: 190px;
  }

  .Candidato,
  .Empresas {
    font-size: 21px;
  }
}

/* Telas muito grandes */
@media (min-width: 1441px) {
  .imagem {
    padding: 25px 40px;
  }

  .infos-cab li {
    margin: 0 35px;
  }

  .Logo {
    height: 70px;
  }

  .Logo-cadastro {
    width: 150px;
    top: 20px;
    right: 20px;
  }

  .Titulo-Cadastro {
    margin-top: 100px;
  }

  .Botao-Cadastro {
    width: 200px;
    height: 200px;
  }

  .Candidato,
  .Empresas {
    font-size: 22px;
  }
}
