.lc-container {
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.lc-caixa-login {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 11px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: 550px;
  height: 550px;
}

.lc-cabecalho-login {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.lc-icone-usuario {
  font-size: 70px;
  color: #3354a8;
  padding: 10px;
}
.lc-icone-usuariohover {
  color: #005bb3;
}
.lc-icone-google {
  margin-right: 8px;
}
.lc-input {
  border-radius: 5px;
  border: 2px solid #005bb3;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.lc-link-esqueci-senha {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: -15px;
  text-decoration: none;
  padding: -50px;
}
.lc_esqueci-senhahover {
  border-bottom: 1px solid #007bff;
}

.lc-info-cadastro {
  text-align: center;
  margin-top: 10px;
  padding: 0;
}

/* Estilo para a mensagem de erro */
.lc-erro {
  position: fixed; /* Fixa a mensagem na tela */
  top: 20px; /* Distância do topo */
  right: 20px; /* Distância da direita */
  background-color: #ffefef; /* Fundo leve, sutilmente vermelho */
  color: #cc0000; /* Texto em vermelho forte */
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 14px;
  border: 1px solid #ffb3b3; /* Borda de alerta */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Leve sombra para destaque */
  font-family: Arial, sans-serif;
  z-index: 1000; /* Garante que fique sobre outros elementos */
  opacity: 1; /* Inicialmente visível */
  transition: opacity 0.5s ease-out; /* Transição para ocultar */
  display: flex; /* Alinha o ícone e a mensagem na mesma linha */
  align-items: center; /* Alinha verticalmente */
}

.lc-erro .icon {
  margin-right: 8px; /* Espaço entre ícone e mensagem */
}

/* Animação para ocultar a mensagem */
.lc-erro.ocultar {
  opacity: 0; /* Fica invisível */
}
