/* Contêiner principal */
.le-container {
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estrutura do contêiner */
.le-caixa-login {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 11px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: 650px;
  height: 600px;
}

/* Cabeçalho do login */
.le-cabecalho-login {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Botão de voltar */
.btn_voltar {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #007bff;
}

.texto_voltar {
  margin-left: 8px;
}

/* Logo */
.Logo {
  height: 50px; /* Ajuste conforme necessário */
}

/* Ícone de cadastro */
.le-icone-cadastro {
  font-size: 70px;
  color: #3354a8;
  padding: 10px;
}

.le-icone-cadastro:hover {
  color: #005bb3;
}

/* Botão principal */
.lc-botao-principal {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.lc-botao-principal:hover {
  background-color: #0056b3;
}

/* Ícone do botão Google */
.lc-icone-google {
  margin-right: 8px;
}

/* Inputs */
.lc-input {
  border-radius: 5px;
  border: 2px solid #005bb3;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

/* Links */
.lc-link-esqueci-senha {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: -15px;
}

.lc_esqueci-senha {
  color: #007bff;
  text-decoration: none;
}

.lc_esqueci-senha:hover {
  border-bottom: 1px solid #007bff;
}

/* Informações de cadastro */
.le-info-cadastro {
  text-align: center;
  margin-top: 10px;
  padding: 0;
}

.texto_alternativo_azul {
  color: #0056b3;
}

.icone-voltar {
  font-size: 1.5rem; /* Ajuste conforme necessário */
  color: #007bff; /* Ajuste conforme necessário */
}