/* Cabeçalho fixo */
.conteiner_barra_empresa {
    width: 100%;
    position: flex;
    top: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .imagem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5%;
    /* Use porcentagens para o padding */
  }
  
  .Logo {
    height: auto;
    /* Alterado para auto */
    max-height: 10vh;
    /* Ajusta a altura máxima conforme necessário */
  }
  
  .tag_barra {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .cabecalho_empresa_infor {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .config_perfil_empresa {
    padding:0;
    margin: 0;
    /* Use porcentagens para o padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .cor-cabecalho {
    width: 100%;
    height: 1.5vh;
    /* Use vh para altura flexível */
    background: linear-gradient(to right, #d2d6f3, #8e83ec, #392ca7, #da2afd);
  }
  
  .nav,ul,li,a{
    color: #000000;
    text-decoration: none;
    margin: 10px;
  }

  .icone_empresa{
    width: 70px;
    height: 70px;
    color: #002fff;
    background-color: #fff;
    margin: 0;
    border: 0;
  }
