/* Estilos gerais da página */
/* Título Principal */
.pe_empresa_titulo {
  margin-bottom: -35px;
  justify-content: flex-start;
  font-size: 25px;
}

.pe_empresa_chamada {
  font-size: 55px;
}

.pe_empresa_p {
  font-size: 30px;
}

/* Container Principal  */
.pe_container_principal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  margin-top: 30px;
}

/* Texto de Boas-Vindas */
.pe_empresa_texto {
  flex: 2;
}

/* Imagem Para Empresas */
.pe_imagem_sobrenos {
  flex: 1;
  background-image: url("../../public/img/paraempresas/paraempresas.png");
  background-position: center;
  background-size: cover; /* Preenche todo o espaço da div */
  background-repeat: no-repeat; /* Evita a repetição da imagem */
  min-height: 600px;
  border-radius: 5px;
}

/* Container de Cards */
.pe-cards-container {
  margin-top: 150px;
}

/* Cards */
.pe-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Ajuste o espaçamento entre os cards conforme necessário */
}

/* Card Individual */
.pe-card {
  width: calc(33.333% - 20px); /* Ajusta o tamanho dos cards para 3 por linha, considerando o gap */
  height: 500px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px; /* Margem inferior para o espaçamento entre linhas */
}

.pe-card-imagem img {
  width: 100%;
  height: 300px; /* Ajuste conforme necessário */
  object-fit: cover;
}

.pe-card-icone {
  margin-top: 10px;
  font-size: 32px;
  color: #3354ab;
  transition:
    color 0.3s ease,
    transform 0.3s ease; /* Adiciona uma transição suave para cor e transformação */
}

.pe-card-icone:hover {
  color: #005bb3;
  transform: scale(1.1); /* Aumenta o tamanho do ícone ao passar o mouse */
}

.pe-card-titulo {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  color: #132144;
}

.pe-card-descricao {
  font-size: 16px;
  color: #202538;
  padding: 0 10px;
}

.pe-parceiros {
  text-align: center;
  margin-top: 40px;
}

.pe-logos-parceiros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.pe-logo-parceiro {
  width: 100px;
  height: 100px;
  background-color: #353535;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  margin-bottom: 100px;
}

/* Adicionando a media query para ajustar o layout em telas menores */
@media (max-width: 768px) {
  .pe_container_principal {
    flex-direction: column;
    text-align: center;
  }

  .pe_empresa_texto {
    flex: none;
    margin-bottom: 20px;
  }

  .pe_imagem_sobrenos {
    width: 100%;
    height: auto; /* Ajusta a altura automaticamente para manter a proporção */
    min-height: 300px; /* Ajuste a altura mínima conforme necessário */
  }
}
