/* Estilos gerais da página */
/* Título Principal */
.pc_candidato_titulo {
  margin-bottom: -35px;
  justify-content: flex-start;
  font-size: 20px;
}

.pc_candidato_chamada {
  font-size: 70px;
}

.pc_candidato_p {
  font-size: 30px;
}

/* Container Principal  */
.pc_container_principal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  margin-top: 30px;
}

/* Texto de Boas-Vindas */
.pc_candidato_texto {
  flex: 2;
}

/* Imagem Para Candidatos */
.pc_imagem_sobrenos {
  flex: 1;
  background-image: url("../../public/img/paraempresas/paraempresas.png"); /* Imagem a ser definida */
  background-position: center;
  background-size: cover; /* Preenche todo o espaço da div */
  background-repeat: no-repeat; /* Evita a repetição da imagem */
  min-height: 600px;
  border-radius: 5px;
}

.pc-cards-container {
  margin-top: 150px;
  margin-bottom: 8em;
}

.pc-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.pc-card {
  width: 400px;
  height: 500px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  text-align: center;
  padding: 10px;
}

.pc-card-imagem img {
  width: 100%;
  height: 300px; /* Ajuste conforme necessário */
  object-fit: cover;
}

.pc-card-icone {
  margin-top: 10px;
  font-size: 32px;
  color: #3354ab;
  transition:
    color 0.3s ease,
    transform 0.3s ease; /* Adiciona uma transição suave para cor e transformação */
}

.pc-card-icone:hover {
  color: #005bb3;
  transform: scale(1.1); /* Aumenta o tamanho do ícone ao passar o mouse */
}

.pc-card-titulo {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  color: #132144;
}

.pc-card-descricao {
  font-size: 16px;
  color: #202538;
  padding: 0 10px;
}

/* Adicionando a media query para ajustar o layout em telas menores */
@media (max-width: 768px) {
  .pc_container_principal {
    flex-direction: column;
    text-align: center;
  }

  .pc_candidato_texto {
    flex: none;
    margin-bottom: 20px;
  }

  .pc_imagem_sobrenos {
    width: 100%;
    height: auto; /* Ajusta a altura automaticamente para manter a proporção */
    min-height: 300px; /* Ajuste a altura mínima conforme necessário */
  }
}
