/* Container Geral */
.prelogin_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f0f4f8;
  gap: 10px; /* Espaçamento entre os dois cards */
}

/* Card de Cadastro */
.prelogin_card {
  background: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 450px;
  height: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Cabeçalho de Cadastro */
.prelogin_card_cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Título Cadastro */
.prelogin_titulo {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Centro Cadastro */
.prelogin_centro {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.prelogin_botao {
  background: rgba(255, 255, 255, 0.8); /* Fundo branco semitransparente */
  color: #3354a8;
  text-decoration: none;
  width: 45%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transições suaves */
}

.prelogin_botao:hover {
  color: #005bb3;
  transform: translateY(-5px); /* Eleva o botão ao passar o mouse */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
}

.prelogin_icone {
  font-size: 50px;
  margin-bottom: 0.5rem;
}

/* Título Final */
.prelogin_titulo_final {
  margin-top: 40px;
  text-align: center;
}

/* Container Final */
.prelogin_container_final {
  background: white;
  border-radius: 5px;
  width: 450px;
  height: 400px;
  padding: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.pre_candidato:hover {
  border-bottom: 3px solid #00b3b3;
}
