/* Estilos gerais para dispositivos móveis (mobile-first) */

/* Container Principal */
.qs_container_principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

/* Texto de Boas-Vindas */
.qs_texto_bemvindos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 700px;
  min-height: 300px;
  border-radius: 8px;
  padding: 20px;
}

/* Imagem Sobre Nós */
.qs_imagem_sobrenos {
  flex: 1;
  max-width: 700px;
  min-width: 50%;
  background-image: url("../../public/img/quemsomos/quemsomos.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  padding: 50px;
}

/* Container Missão e Visão Principal */
.qs_mv_princial {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

/* Itens de Visão e Missão */
.qs_item_missao,
.qs_item_visao {
  flex: 1;
  width: 30%;
  min-width: 300px;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Imagens de Visão e Missão */
.qs_imagem_missao {
  width: 45%;
  min-height: 40vh;
  background-image: url("../../public/img/quemsomos/missao.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.qs_imagem_visao {
  width: 45%;
  min-height: 40vh;
  background-image: url("../../public/img/quemsomos/visao.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

/* Títulos de Visão e Missão */
.qs_titulo_mv {
  width: 90%;
  max-width: 400px;
  margin: 10px;
  display: flex;
  justify-content: center;
}

/* Texto de Visão e Missão */
.qs_texto_mv {
  width: 90%;
  max-width: 600px;
  text-align: center;
  margin: 10px;
}

/* Título Nossos Valores */
.qs_titulo_valores {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

/* Container de Valores */
.qs_valores_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

/* Itens do Container de Valores */
.qs_item_valorespadrao {
  width: 100%;
  min-width: 200px;
  height: auto;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Imagens dos Cards de Valores */
.qs_imagem_inovacao,
.qs_imagem_transparencia,
.qs_imagem_compromisso {
  width: 100%;
  height: auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 5px;
}

.qs_imagem_inovacao,
.qs_imagem_transparencia,
.qs_imagem_compromisso {
  width: 200px;
  min-height: 50vh;
}

.qs_imagem_inovacao {
  background-image: url("../../public/img/quemsomos/inovacao.png");
}

.qs_imagem_transparencia {
  background-image: url("../../public/img/quemsomos/transparencia.png");
}

.qs_imagem_compromisso {
  background-image: url("../../public/img/quemsomos/iunclusao.png");
}

/* Títulos dos Cards de Valores */
.qs_titulo_valorespadrao {
  width: 100%;
  max-width: 200px;
}

/* Texto dos Cards de Valores */
.qs_texto_valorespadrao {
  width: 100%;
  max-width: 500px;
  text-align: center;
  margin-bottom: 20px;
}

/* Títulos da Equipe e Impacto */
.qs_titulo_equipe,
.qs_titulo_impacto {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

/* Texto do Impacto Esperado */
.qs_texto_impacto {
  width: 90%;
  max-width: 600px;
  text-align: center;
  margin: 10px;
  padding: 20px;
}

/* Card da Equipe */
.qs_card {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 10px;
  padding: 5px;
}

.qs_card_imagem {
  object-fit: contain;
  width: 100%;
  height: auto;
  max-height: 200px;
  transition: transform 0.3s;
}

.qs_card:hover .qs_card_imagem {
  transform: scale(1.05);
}

.qs_card_conteudo {
  text-align: center;
}

.qs_card_links {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.qs_link {
  color: #00b3b3;
  margin: 0 10px;
  font-size: 25px;
  text-decoration: none;
}
@media (min-width: 768px) {
  /* Container Principal */
  .qs_container_principal {
    flex-direction: row;
    justify-content: space-between;
  }

  /* Texto de Boas-Vindas */
  .qs_texto_bemvindos {
    width: 45%;
    min-height: 400px;
  }

  /* Imagem Sobre Nós */
  .qs_imagem_sobrenos {
    width: 45%;
    min-height: 400px;
  }

  /* Container Missão e Visão Principal */
  .qs_mv_princial {
    flex-direction: row;
    justify-content: space-between;
  }

  /* Itens de Visão e Missão */
  .qs_item_missao,
  .qs_item_visao {
    width: 50vw;
    min-height: 600px;
  }

  /* Imagens de Visão e Missão */
  .qs_imagem_missao,
  .qs_imagem_visao {
    max-height: 400px;
  }

  /* Container de Valores */
  .qs_valores_container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* Itens do Container de Valores */
  .qs_item_valorespadrao {
    width: 30%;
    min-height: 300px;
  }

  /* Imagens dos Cards de Valores */
  .qs_imagem_inovacao,
  .qs_imagem_transparencia,
  .qs_imagem_compromisso {
    max-height: 400px;
  }
}

.qs_texto_impacto {
  max-width: 100%;
}

@media (min-width: 1024px) {
  /* Card da Equipe */
  .qs_card {
    width: 300px;
  }

  /* Imagem do Card da Equipe */
  .qs_card_imagem {
    max-height: 250px;
  }
}
