/* Div do TÍTULO SOBRE O */
.sobreo {
    color: rgb(3, 135, 250);
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

/* Continuação da div do TÍTULO tramposfacil */
.tramposfacil {
    color: #2422af;
}

/* Div Principal do Container 1, contendo 2 divis Filhas */
.sobrenoscontainer1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

/* Div filha do textobemvindos (sobrenoscontainer1) */
.textobemvindos {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    width: 500px; 
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Div filha imagemsobrenos (sobrenoscontainer1) */
.imagemsobrenos {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 500px; 
    height: 400px;
}

/* Div Principal do Container 2 */
.sobrenoscontainer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/* Div Principal do Container 3 */
.sobrenoscontainer3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/* Div Filhas do Container 2 */
.container-2-1,
.container-2-2 {
    width: 500px; 
    height: 450px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px hsla(103, 100%, 33%, 0.1);
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Div Filhas do Container 3 */
.container-3-1,
.container-3-2,
.container-3-3 {
    width: 500px;
    height: 450px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px hsla(103, 100%, 33%, 0.1);
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Div Filhas do Container 2 - Imagens */
.imagemcontainer-2-1,
.imagemcontainer-2-2 {
    height: 150px;
    width: 250px;
    background-color: rgb(142, 127, 196);
    color: white;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Div Filhas do Container 3 - Imagens */
.imagemcontainer-3-1,
.imagemcontainer-3-2,
.imagemcontainer-3-3 {
    height: 150px;
    width: 250px;
    background-color: rgb(142, 127, 196);
    color: white;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Div Filhas do Container 2 - Nossamissao */
.nossamissao-2-1,
.nossamissao-2-2 {
    height: 150px;
    width: 250px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    display: flex;
}

/* Div Filhas do Container 3 - Nossamissao */
.nossamissao-3-1,
.nossamissao-3-2,
.nossamissao-3-3 {
    height: 150px;
    width: 250px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    display: flex;
}

/* Span dos textos nossamissao e nossavisao */
.missao,
.visao {
    color: #2422af;
}

/* Div Filhas do Container 2 - Texto */
.textocontainer-2-1,
.textocontainer-2-2 {
    height: 100px;
    background-color: rgb(255, 251, 0);
    align-items: center;
    justify-content: center;
    margin: 10px;
    display: flex;
}

/* Div Filhas do Container 3 - Texto */
.textocontainer-3-1,
.textocontainer-3-2,
.textocontainer-3-3 {
    height: 100px;
    background-color: rgb(255, 251, 0);
    align-items: center;
    justify-content: center;
    margin: 10px;
    display: flex;
}

/* Div TÍTULO Nossos Valores */
.sobrenostitulo2 {
    color: #6a0dad;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Continuação da div do TÍTULO Nossos Valores */
.valores {
    color: #2422af;
}

/* Div inovacao (sobrenoscontainer3) */
.inovacao,
.transparencia,
.inclusao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    width: 300px;
    height: 300px;
    border: 2px dashed rgb(12, 0, 24);
    border-radius: 50px;
}

/* Div TÍTULO Nossa Equipe */
.sobrenostitulo3 {
    margin: 10px;
    padding: 20px;
    color: #6a0dad;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Continuação da div do TÍTULO Nossa EQUIPE */
.equipe {
    color: #2422af;
}

/* Div TÍTULO Impacto Esperado */
.sobrenostitulo4 {
    color: #6a0dad;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

/* Continuação da div do TÍTULO Nossa EQUIPE */
.esperado {
    color: #2422af;
}

/* Div Principal Impacto Esperado */
.textoimpacto {
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
}

/* Div do Texto Impacto Esperado */
.textodoimpacto {
    color: #000;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 30px;
}
