/*Pagina de suporte*/

.Sup, .Faq {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
  color:  #132144;
}

.TagSup{
  color:  #132144 ;
  font-size: 35px;
}

.TagPrincipal{
  color:    #202538;
  font-size: 23px;
}
.DivCentro {
  display: flex;
  justify-content: center;
}

.FAQContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.FAQColumn {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.FAQItem {
  background-color: #6a1b9a; /* Cor do fundo das barras */
  color: white;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.ContainerSup{
  display: flex; /* Alinha os itens em linha */
  justify-content: space-around; /* Espaço igual entre os itens */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  gap: 20px; /* Espaço entre as divs (opcional) */
}
.DadosSup{
  height: 200px;
  width: 50%;
}

.BarraNome{
  width: 50px; 
  padding: 8px; 
  border: 1px solid #ccc;
  border-radius: 4px; /* Bordas arredondadas */
  font-size: 16px; /* Tamanho da fonte */
}

.BarraEmail{
  width: 300px; 
  padding: 8px; 
  border: 1px solid #ccc;
  border-radius: 4px; /* Bordas arredondadas */
  font-size: 16px; /* Tamanho da fonte */
}

.AreaImagem{
  align-self:center
  
}
.ContainerFaq{
  display: flex; 
  justify-content: space-around; /* Espaço igual entre os itens */
  align-items: center; 
  gap: 20px;
}

.imgCandidatos{
  width: 100%; /* Ajuste a largura das imagens conforme necessário */
  max-width: 300px; /* Largura máxima das imagens para manter proporção */
  height: auto; /* Mantém a proporção das imagens */
  display: block; /* Remove espaços em branco abaixo das imagens */
}
.ImgEmpresas{}

.FAQItem:hover {
  background-color: #8e24aa; /* Cor ao passar o mouse */
}

.FAQQuestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.FAQAnswer {
  margin-top: 10px;
  font-size: 14px;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

.rodape {
  text-align: center;
  margin-top: 40px;
}

@media (max-width: 600px) {
  .FAQContainer {
    flex-direction: column;
  }

  .FAQColumn {
    width: 100%;
  }

  .FAQItem {
    width: calc(100% - 20px);
  }
}

.Botao-Voltar {
  background-color: rgba(0, 0, 255, 0.418);
  border-radius: 50%;
  margin: 5%;
  box-shadow: 4.5px 10px 10px black;
  width: 6vh;
  /* Ajuste conforme necessário */
  height: 6vh;
  /* Ajuste conforme necessário */
  display: flex;
  justify-content: center;
  top: -6%;
  left: 7%;
  position: absolute;
  cursor: pointer;
  transition: transform 0.3s; 

}
